<h1>Editing vod</h1>

<% form_for(@vod) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :is_tournament %><br />
    <%= f.check_box :is_tournament %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @vod %> |
<%= link_to 'Back', vods_path %>