<h1>Listing vods</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Is tournament</th>
  </tr>

<% @vods.each do |vod| %>
  <tr>
    <td><%=h vod.url %></td>
    <td><%=h vod.is_tournament %></td>
    <td><%= link_to 'Show', vod %></td>
    <td><%= link_to 'Edit', edit_vod_path(vod) %></td>
    <td><%= link_to 'Destroy', vod, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New vod', new_vod_path %>