<h1>New game</h1>

<% form_for(@game) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :player1_id %><br />
    <%= f.text_field :player1_id %>
  </p>
  <p>
    <%= f.label :player2_id %><br />
    <%= f.text_field :player2_id %>
  </p>
  <p>
    <%= f.label :map %><br />
    <%= f.text_field :map %>
  </p>
  <p>
    <%= f.label :game_length %><br />
    <%= f.text_field :game_length %>
  </p>
  <p>
    <%= f.label :vod_url %><br />
    <%= f.text_field :vod_url %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', games_path %>